lastupdate.tmp
.vscode/
.idea/
sga_plan_trabajo_docente_mid
trabajo_docente_mid
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
swagger.zip
sga_plan_trabajo_docente_mid.exe
sga_trabajo_docente_mid.exe*
.env